In [1]:
import pandas as pd
from bs4 import BeautifulSoup

import os

from tqdm import tqdm

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
PATH = "C:/Matko - CloudStation/UPJS/_Bakalarka/data_drojove_kody_stranok_nove/"
COLUMNS_NAMES = ["valid_dir", "title", "h1", "h2", "h3", "h4", "h5", "h6", "p", "a", "li", "span"]

In [3]:
# df = pd.read_csv("../1_Filtrovanie_dostupnosti_a_scrapovanie/dataset_unreachable_urls_filtered_with_lang_labels.csv")
# df = df.set_index('index')
# df = df[df['lang_eng'] == 1] # Pracujeme iba s anglickym jazykom
# print(df.shape)
# df.head()
# # df.tail()

In [4]:
# df = df.reindex(columns=df.columns.tolist() + COLUMNS_NAMES)
# df['valid_dir'] = 0  # Default valueA
# df.head()

In [5]:
# # # Create new dataset
# # new_df = pd.DataFrame()
# # i = 0
# # for foldername in os.scandir(PATH):
# #     # print(df.loc[[int(foldername.name)]])
# #     if os.listdir(PATH + foldername.name):
# #         new_df = new_df.append(df.loc[[int(foldername.name)]])
# #
# #     # if i > 20:
# #     #     break
# #
# #     # i += 1
#
# # Create new dataset
# for folder in os.scandir(PATH):
#     if os.listdir(PATH + folder.name):
#         df.at[int(folder.name), 'valid_dir'] = 1  # If folder exists and is not empty
#
# df.head()

In [6]:
# new_df = df[df['valid_dir'] == 1]
# print(new_df.shape)
# new_df.head()

In [7]:
# new_df_zaloha = new_df.copy()

In [8]:
# !pip install lxml

In [9]:
new_df = pd.read_csv("rozsireny_dataset.csv")
new_df = new_df.set_index('index')
print(new_df.shape)
print(new_df['h1'].count())
new_df.tail()

(46278, 16)
43991

,name,link,type,lang_eng,valid_dir,title,h1,h2,h3,h4,h5,h6,p,a,li,span
index,,,,,,,,,,,,,,,,
101248,Erasmus University Rotterdam,http://www.eur.nl/english/,Education,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101249,LifeStream,https://www.lstream.org/,Nonprofit,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101252,Shirak State University,http://shsu.am/en/,Education,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101255,Radboud University Nijmegen,http://www.ru.nl/english/,Education,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101257,Northamptonshire Healthcare NHS Foundation Trust,https://www.nhft.nhs.uk/,Healthcare,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
indexes = list(new_df.index)
od_idx, po_idx = 44000, 46279
n_jobs = po_idx - od_idx

i = 0
with tqdm(total=(n_jobs)) as pbar:
    # loop through every folder
    for i, index in enumerate(indexes[od_idx:]):
        try:
            # Working directory
            folder = PATH + str(index) + "/"

            # dictionary for storing content from up to 20 subpages from working directory
            joined_content = {col_name: "" for col_name in COLUMNS_NAMES[1:]}

            # loop through every HTML file in working directory
            for file in os.scandir(folder):

                soup = BeautifulSoup(open(f"{folder}{file.name}", encoding='utf8'))

                for j, col_name in enumerate(COLUMNS_NAMES[1:]):
                    my_arr = soup.find(col_name)
                    my_arr = my_arr.find_all(string=True, recursive=False) if my_arr is not None else []
                    content = " ".join(my_arr) if my_arr else " "
                    # print(content)
                    # print(df.iloc[index])
                    joined_content[col_name] += (content + " ")

            for j, col_name in enumerate(COLUMNS_NAMES[1:]):
                new_df.at[index, col_name] = joined_content[col_name]
            # df.loc[df.index[index], name] = joined_content

        except PermissionError:
            print(f"Unable to open file \"{folder}{file.name}\"")
        except FileNotFoundError:
            print(f"Unable to open file \"{folder}{file.name}\"")

        # if i%10 == 0:
        #     print(i)

        pbar.update(1)
        i += 1

        if i % 100 == 0:
            new_df.to_csv("rozsireny_dataset.csv", index=True)
            # print(f"Saved cuccessfuly, new count: {new_df['h1'].count()}")
            if i % 1000 == 0:
                tqdm.write(f"Saved cuccessfuly, new count: {new_df['h1'].count()}")


# prblematicke_indexy = [14875, 14876. 20677, 20711, 31834]

new_df.to_csv("rozsireny_dataset.csv", index=True)
(new_df.shape)
print(new_df['h1'].count())
df_zaloha = new_df.copy()

 44%|████▍     | 1001/2279 [07:58<30:19,  1.42s/it]

Saved cuccessfuly, new count: 44991

 88%|████████▊ | 2001/2279 [16:33<06:21,  1.37s/it]

Saved cuccessfuly, new count: 45991

100%|█████████▉| 2278/2279 [18:47<00:00,  2.02it/s]

46269

In [12]:
new_df.to_csv("rozsireny_dataset.csv", index=True)
print(new_df.shape)
print(new_df['h1'].count())
df_zaloha = new_df.copy()

(46278, 16)
32901

In [13]:
print(new_df.shape)
new_df

(46278, 16)

,name,link,type,lang_eng,valid_dir,title,h1,h2,h3,h4,h5,h6,p,a,li,span
index,,,,,,,,,,,,,,,,
0,Australian National University,http://www.anu.edu.au/,Education,1,1,ANU Newsroom - ANU Study with us - ANU Researc...,,Our COVID-19 pathway You are here You are here...,ANU turns 75 \n ...,,,,http://www.anu.edu.au/\n html \n [if lt IE 7 ]...,Skip navigation Skip navigation Skip navigatio...,,Search Search Search Search Search Search Sear...
1,Monash University,http://www.monash.edu/,Education,1,1,Monash University - one of the top universitie...,"Home Home Equity, Diversity and Inclusion Equi...",New home of Monash cardiac research New home o...,\n\n Top-50 university\n\n \n...,\n\n Don’t wa...,"At Monash, we embrace diversity, actively ...",,http://www.monash.edu/\n\n\n\n \n html \n http...,\n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \...,\n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \...,Home Home Home Home Home Home Home Home Home H...
2,University of Queensland,http://www.uq.edu.au/,Education,1,1,The University of Queensland The University of...,\n Follow your passion for research...,Find a program Find a program Breadcrumb Bread...,\n Study\n \n \n Stud...,Pagination,,,http://www.uq.edu.au/\n html \n https://www.uq...,\n Skip to menu\n \n Skip to men...,\n \n \n \n a citizen of Australia or New Zeal...,\n \n \n \n a domestic a domestic a domestic...
3,Macquarie University,http://mq.edu.au/,Education,1,1,\n \n\n Macquarie Universi...,Macquarie University home page Students \n\nUn...,Slideshow Welcome new students! Set your caree...,There’s still time to enrol for Session 1 Quic...,Bachelor of Arts Arts and Humanities Doub...,Acknowledgement of Country Domestic student ...,Page owner Page owner Page owner Page ow...,http://mq.edu.au/\n\n html \n https://students...,Current students Current students Current stud...,,Macquarie University home page Students Macqua...
4,UNSW Sydney,https://www.unsw.edu.au/,Education,1,1,UNSW Sydney | One of the best universities in ...,Global feminism: Mona Eltahawy Global feminism...,Study options Study options Study options Stud...,Proud to support Sydney WorldPride Proud to su...,Visit our for the latest on UNSW's response ...,We will be in touch! \n The appl...,You are an international...,https://www.unsw.edu.au/\n HTML \n https://www...,\n Skip to Main Content\n ...,\n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \...,\n \n \n \n \n \n \n \n 100 \n \n \n \n \n \n ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101248,Erasmus University Rotterdam,http://www.eur.nl/english/,Education,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101249,LifeStream,https://www.lstream.org/,Nonprofit,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101252,Shirak State University,http://shsu.am/en/,Education,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101255,Radboud University Nijmegen,http://www.ru.nl/english/,Education,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101257,Northamptonshire Healthcare NHS Foundation Trust,https://www.nhft.nhs.uk/,Healthcare,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN